@import "vars";

.header {
  margin-top: 40px;
  width: 1320px;
  height: 40.46px;

}

.header-inner {
  display: flex;
  align-items: center;
  text-align: center;

  .logo {
    width: 184px;
    margin-right: auto;

  }

}


.nav_menu {
  margin: 0 187px 0 0;
  width: 644.85px;
  height: 20px;
  justify-content: center;


  ul {
    display: flex;
    justify-content: center;
  }

  li {
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: $lineHeight;
    color: white;
    width: 32%;
    margin: 0 10px;
  }

  a {
  }
}

.phone {

  width: 217px;
  cursor: pointer;

  .inner_phone {
    display: flex;
    width: 100%;
  }

  .phone_number {
    width: 250.15px;
    height: 22.48px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $color2;
    line-height: $lineHeight;
    letter-spacing: 0.36px;
    font-size: 18px;
    margin: 9px 0 0 13px;

    .phone_number img {
      width: 40.46px;
      height: 40.46px;
    }
  }

  .burger {
    width: 40.46px;
    height: 40.46px;
    margin-right: 16px;
  }
}

.drawer {
  width: 612px;
}

