@import "vars";

.phone-form-wrapper {
  height: 100vh;
  overflow-y: auto;
  cursor: pointer;

  &::-webkit-scrollbar {
    width: 0;
  }

}

.phone_inner {
  position: relative;
  margin: 40px 32px 174px 75px;
  width: 505px;
  min-height: 733px;
  border: 1px solid $color;

}

.close {
  position: absolute;
  right: 0;
  top: 0;


}

.title_phone {
  margin: 30px 0 5px 2px;
  width: 490px;
  height: 148px;
  font-size: 50px;
  font-weight: 600;
  line-height: 148.8%;
  letter-spacing: $letterSpacing;
  color: $color2;
}


.check {
  margin-top: 110.5px;
  display: flex;
  width: 400px;
  height: 42px;

  & span {
    flex: 1;
    width: 343px;
    height: 100%;
    margin-left: 6px;
    color: $color2;
    font-size: 14px;
    line-height: $lineHeight;
    letter-spacing: 3.5px;

  }

}

.btn_box_phone {
  margin-top: 89px;
  width: 100%;
  height: 73px;
  display: flex;

}

.img_b_phone {
  filter: brightness(0) invert(1);
  position: relative;
  top: 36px;
  left: 10px;
}

.blue_btn_phone {
  background-color: $bg-color;
  border: 1px solid $color2;
  color: $color;
}
