.header {
  margin-top: 40px;
  width: 1320px;
  height: 40.46px;
}

.header-inner {
  display: flex;
  align-items: center;
  text-align: center;
}
.header-inner .logo {
  width: 184px;
  margin-right: auto;
}
.header-inner .logo div {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 6px;
}

.nav_menu {
  margin: 0 187px 0 0;
  width: 644.85px;
  height: 20px;
  justify-content: center;
}
.nav_menu ul {
  display: flex;
  justify-content: center;
}
.nav_menu li {
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 122.8%;
  color: white;
  width: 32%;
  margin: 0 10px;
}
.phone {
  width: 217px;
  cursor: pointer;
}

.drawer {
  width: 612px;
}

.main {
  margin-top: 58px;
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.main_box {
  margin: 182px 0 0 0;
  min-width: 800px;
  min-height: 100dvh;
  flex: 1;
}
.main_box .title {
  width: 80%;
  margin-top: 53px;
}
.main_box .title h1 {
  font-size: 65px;
  font-weight: 600;
  line-height: 135.3%;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.8);
}
.main_box .text {
  margin-top: 67px;
}
.main_box p {
  width: 675px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 24px;
  white-space: pre-wrap;
}

/*part btn */
.btn_box {
  margin-top: 65.28px;
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  width: 380px;
  height: 72.42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.text_btn {
  display: inline-block;
  width: 270px;
  height: 22.44px;
  font-size: 18px;
  font-weight: 600;
  line-height: 122.8%;
  letter-spacing: 0;
}

.blue_btn {
  background-color: #133457;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.img_b {
  filter: brightness(0) invert(1);
  position: relative;
  top: 36px;
  left: 24px;
}

.img_w {
  position: relative;
  top: 36px;
  left: 24px;
}

.img_btn {
  display: inline-block;
  width: 67.5px;
  height: 100%;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
}

.white_btn .img_btn {
  border-left: 2px solid #07305D;
}

.white_btn {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #133457;
  color: #133457;
}

/*part */
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.quantity {
  margin-top: 113px;
  width: 201.5px;
  height: 137px;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
}
.quantity p {
  width: 172px;
  height: 41px;
}
.quantity span {
  margin: 15px 0 15px 12px;
  width: 70%;
  height: 57px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  font-weight: 600;
  line-height: 141.3%;
  letter-spacing: 0;
}

.percent {
  margin-top: 148px;
  width: 201.5px;
  height: 132px;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
}
.percent p {
  width: 166px;
  height: 45px;
}
.percent span {
  margin: 15px 0 10px 28px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  font-weight: 600;
  line-height: 141.3%;
  letter-spacing: 0;
  width: 70%;
  height: 57px;
}

/*part mentor*/
.mentor {
  margin: 27px 0 0 100px;
  min-width: 525px;
  min-height: 100dvh;
  flex: 0;
}
.mentor img {
  width: 100%;
  height: 100%;
}

.phone-form-wrapper {
  height: 100vh;
  overflow-y: auto;
  cursor: pointer;
}
.phone-form-wrapper::-webkit-scrollbar {
  width: 0;
}

.phone_inner {
  position: relative;
  margin: 40px 32px 174px 75px;
  width: 505px;
  min-height: 733px;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
}

.title_phone {
  margin: 30px 0 5px 2px;
  width: 490px;
  height: 148px;
  font-size: 50px;
  font-weight: 600;
  line-height: 148.8%;
  letter-spacing: 0;
  color: #FFFFFF;
}

.check {
  margin-top: 110.5px;
  display: flex;
  width: 400px;
  height: 42px;
}
.check span {
  flex: 1;
  width: 343px;
  height: 100%;
  margin-left: 6px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 122.8%;
  letter-spacing: 3.5px;
}

.btn_box_phone {
  margin-top: 89px;
  width: 100%;
  height: 73px;
  display: flex;
}

.img_b_phone {
  filter: brightness(0) invert(1);
  position: relative;
  top: 36px;
  left: 10px;
}

.blue_btn_phone {
  background-color: #133457;
  border: 1px solid #FFFFFF;
  color: rgba(255, 255, 255, 0.8);
}

.message_box {
  height: 100vh;
  overflow-y: auto;
  cursor: pointer;
}
.message_box::-webkit-scrollbar {
  width: 0;
}

.message_inner {
  margin: 40px 32px 174px 75px;
  width: 489.41px;
  height: 826px;
}

.message_title {
  margin: 159px 115px 98px 105px;
  width: 227px;
  min-height: 158px;
}
.message_title h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 157.8%;
  letter-spacing: 0;
  color: #FFFFFF;
}

.message_sub_title {
  margin: 98px 42.41px 209px 0;
}
.message_sub_title h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: 0;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.message_logo {
  margin: 0 33.24px 0 289px;
  width: 169px;
  height: 15px;
}
.message_logo div {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Raleway Dots", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  background-image: url("../img/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #07305D;
  overflow-x: hidden;
  -webkit-background-size: cover;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
